
WORKSPACE_ID=a177772f-cfef-400f-a91c-6bec09e113a4
ASSISTANT_URL=https://gateway.watsonplatform.net/assistant/api
ASSISTANT_IAM_APIKEY=_pO2TTMqOJp66R97wFZAQShDDptnfRZ8bCAVm3QngLMs

DISCOVERY_URL=https://gateway.watsonplatform.net/discovery/api
DISCOVERY_ENVIRONMENT_ID=149cea6e-cde3-4c0d-bbdf-d495b193bb4c
DISCOVERY_COLLECTION_ID=fdd5a698-4ad6-4837-9931-acc4f66bbedb
DISCOVERY_IAM_APIKEY=a9k8Xzc8CCvh_MQmOwyp29Mb-qEL2chHIkqg-NC_K_T1

NATURAL_LANGUAGE_UNDERSTANDING_URL=https://gateway.watsonplatform.net/natural-language-understanding/api
NATURAL_LANGUAGE_UNDERSTANDING_IAM_APIKEY=df7RC0t45aEh-MASfG0E9Pd0bK30ESJy-HggvphdSTnx

TONE_ANALYZER_URL=nVBviial6JuBF6KTBPToCVdVulDzgdcvxgumvOdEWEhB
TONE_ANALYZER_IAM_APIKEY=https://gateway.watsonplatform.net/tone-analyzer/api

# Run locally on a non-default port (default is 3000)
# PORT=5500